#cal{
    
    border: 1px solid black;
    border-radius: 10px;
    width:370px;
    margin:30px
   

}

#display{
    font-size: 35px;
    margin: 20px 10px 20px 50px;
    padding: 10px;
    border-radius: 15px;
    width: 70%;


}

.buts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button{
    border-radius: 15px;
    padding: 10px;
    margin: 12px;
    width: 60px;
    height: 60px;
    font-size: 30px;
}